<!DOCTYPE html>

<html lang="en">
	<head>
        <meta http-equiv="content-type" content="text/html" charset="UTF-8">
		<title>Books App</title>
		<link rel="icon" type="image/x-icon" href="/img/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</head>
	<body>
		<div id="menuContainer">
			<div class="clearfix">
				<span class="menuIcon">&#9776</span>
			</div>
			<div class="menuOptions displayNone">
				<span class="menuInfo">Search</span>
				<% if (signedIn) { %>
					<span class="menuInfo">Signed in as <%= username %></span>
					<div class="menuOption">
						<a href="/signOut" class="menuLink">Sign Out</a>
					</div>
				<% } else { %>
					<div class="menuOption">
						<a href="/signIn" class="menuLink">Sign In</a>
					</div>
					<div class="menuOption">
						<a href="/signUp" class="menuLink">Sign Up</a>
					</div>
				<% } %>
			</div>
		</div>
		<div id="searchContainer"> 
			<h1 id="searchTitle">Books App</h1>
			<form id="searchForm" method="POST" action="/search/1">
				<input id="searchInput" name="searchString" autofocus maxlength="350" required placeholder="Search books by title" type="text"><!--
			 --><input id="searchButton" value="Search" type="submit">
			 	<input type="hidden" name="_csrf" value="<%= csrfToken  %>">
			</form>
			<p id="searchDescription">Find the right book with high-performance search and community reviews.</p>
		</div>
	</body>
	<script src="/js/menu.js"></script>
</html>

<!-- <div style="height: 100px; ">
			<div style="height: 32px; float: right; direction: rtl; box-sizing: border-box;">
                <span style="display: inline-block; right: 0px; position: relative; margin-top: 1px; margin-right: 2px; margin-bottom: 1px; padding: 6px; color: #8b0000; outline: #ffeb7f solid 2px;">&#9776</span>
                <a href="/signIn" style="text-decoration: none; color: black; font-size: .75em; position: relative; display: block; text-align: center; border: #8b0000 solid 2px; background-color: #ffeb7f; min-width: 46px;">Sign In</a>
				<a href="/signUp" style="text-decoration: none; color: black; font-size: .75em; position: relative; display: block; text-align: center; padding-right: 1px; border: #8b0000 solid 2px; background-color: #ffeb7f; min-width: 46px;">Sign Up</a>
            </div> -->
			<!-- <div style="position: absolute; height: 32px; width: 52px; right: 0px; top: 0px; direction: rtl;">
				<span style="display: inline-block; right: 0px; position: relative; margin-top: 1px; margin-right: 2px; margin-bottom: 1px; padding: 6px; color: #8b0000; outline: #ffeb7f solid 2px;">&#9776</span>
				<span style="text-align: center; border: #8b0000 solid 2px;">Search</span>
				<a href="/signIn" style="text-decoration: none; color: black; font-size: .75em; position: relative; display: block; text-align: center; border: #8b0000 solid 2px; background-color: #ffeb7f; min-width: 46px;">Sign In</a>
				<a href="/signUp" style="text-decoration: none; color: black; font-size: .75em; position: relative; display: block; text-align: center; padding-right: 1px; border: #8b0000 solid 2px; background-color: #ffeb7f; min-width: 46px;">Sign Up</a>
			</div> -->
		<!-- </div> -->