<!DOCTYPE html>

<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html" charset="UTF-8">
		<title>Books App</title>
		<link rel="icon" type="image/x-icon" href="/img/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</head>
	<body>
        <h1 id="credentialsTitle">Books App</h1>
        <div id="credentialsDescriptionContainer">
            <span id="credentialsDescription">You have successfully sign out</span>
        </div>
        <div id="credentialsContainer">
            <a href="/">Continue to Search</a>
        </div>
	</body>

</html>